{% extends 'main/layout.html' %}

{% block title %}новости на сайте{% endblock %}

{% block content %}
<div class="features">
    <h1>новости на сайте</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus eaque labore magnam magni, minus molestias nisi numquam officiis, perferendis provident quae sit! Atque, commodi dolor eos magni omnis tempora</p>
    <button class="btn btn-warning">chto?</button>
    {% if news %}
        {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.annons }}</p>
                <a href="{% url 'news-detail' el.id %}" class="btn btn-warning"> читать полностью </a>
            </div>
        {% endfor %}
    {% else %}
        <p>у вас нет записей!!!</p>
    {% endif %}

</div>
{% endblock %}